.sidebar{
    color: white;
    background-color: var(--main-color);
    border-top: 1px solid var(--main-color);
    max-width: 260px;
}
.sidebar > hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--main-color);
}
.sidebar__header{
    display: flex;
    border: 1px solid var(--main-color);
    padding: 13px;
    padding-bottom: 10px;
}

.sidebar__info{
    flex: 1;
}

.sidebar__info > h2 {
    font-size: 15px;
    font-weight: 900;
    margin-bottom: 5px;
}

.sidebar__info > h3 {
    font-size: 13px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.sidebar__info > h3 > .MuiSvgIcon-root{
    font-size: 14px;
    margin-top: 1px;
    margin-right: 2px;
    color: green;
}

.sidebar__header > .MuiSvgIcon-root{
    padding: 8px;
    color: var(--main-color);
    font-size: 18px;
    background-color: white;
    border-radius: 999px;
}